*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: hsl(185, 41%, 84%);
}
.main {
    display: flex;
    padding: 2em;
    width: 85%;
    height: 50vh;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
}

.display {
    width: 45%;
    background-color: hsl(183, 100%, 15%);
    display: grid;
    grid-template-rows: repeat(5,1fr);
    row-gap: 4px;
    padding: 1em;
}

.tip-amount {
    display: flex;
    justify-content: space-between;
}
.total {
    display: flex;
    justify-content: space-between;
}

.reset {
    grid-row-start: -2;
    grid-row-end: -1;
    background-color: hsl(186, 14%, 43%);
}

.control {
    width: 45%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 4px;
}

#input-amount {
    width: 100%
}

.tips-container {
    grid-row-start: 2;
    grid-row-end: 4;
}

.tips {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 5px;
}

.tip {
    width: 100%;
    height: 25px;
}

#no-of-people {
    width: 100%;
}
button {
    border: none;
}
